# Visual Studio/IDE
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Dependencias
/node_modules
/.angular/cache

# Archivos de compilación
/dist
/.dist
/out-tsc
/aot

# Archivos de entorno
/environments/environment.ts
/environments/environment.prod.ts

# Archivos de desarrollo
/.idea
/.vscode
/.sublime-workspace
*.tmp
*.log

# Archivos de cobertura y testing
/coverage
*.lcov
/junit.xml
/test-results.xml

# Archivos específicos de Angular
/.ng_pkg_build
/.rpt2_cache
/.sass-cache
/browserslist
/karma.conf.js
/tsconfig.*.json
/tslint.json
/package-lock.json
/yarn.lock

# Archivos de IDE
*.swp
*.swo
.DS_Store
.Thumbs.db